<link rel="stylesheet" href="~/css/Random.css" />


@{
    ViewData["Title"] = "Random";
}
<div class ="Name-tag">
    <h1>@ViewData["Title"]</h1>
    <div class ="mainBlock">
        <p style = "color: red">Use this page to detail your site's privacy policy.</p>
    </div>
</div>